@use '../abstracts' as a;

.main-footer {
  background: #020d18;
  padding: 2rem 0;
  margin-top: 2rem;

  & .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }

  &__social-links {
    display: flex;
    gap: 2rem;
    & a {
      margin-right: 0.8rem;
      color: #fff;
      transition: all 0.3s ease-in-out;

      &:hover {
        color: var(--color-secondary);
        transform: scale(1.2);
      }
    }
  }
}
