@use '../abstracts' as a;

.container {
  flex-direction: column;

  @include a.breakpoint(xsm) {
    flex-direction: row;
  }
}

.main-header {
  padding: 1rem 0;
  background: rgba(0, 0, 0, 0.8);

  @include a.breakpoint(xsm) {
    padding: 2rem;
  }

  &__logo {
    color: #fff;
    font-size: 3rem;
    font-weight: 700;
    text-transform: uppercase;
  }

  &__nav {
    display: none;

    @include a.breakpoint(xxxsm) {
      display: flex;
      gap: 1rem;
    }

    & li {
      margin-left: 2rem;
    }
  }
}
