@use '../abstracts/' as a;

.active {
  color: var(--color-secondary);
  font-weight: 700;
}

.alert {
  padding: 1rem 2rem;
  margin-bottom: 2rem;
  border-radius: 0.5rem;
}

.success {
  background: green;
}

.error {
  background: red;
}

.back {
  margin-top: 3rem;
}
