@use '../abstracts' as a;

.btn {
  display: inline-block;
  padding: 0.5rem 2rem;
  border: 1px solid var(--color-secondary);
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  background: transparent;
  transition: all 0.3s ease-in-out;

  &:hover {
    background: var(--color-secondary);
    color: #000;
  }

  &:disabled {
    border-color: #ccc;
    cursor: not-allowed;

    &:hover {
      background: transparent;
      color: #fff;
    }
  }
}

#back-to-top {
  position: fixed;
  top: 1rem;
  right: 50%;
  transform: translateX(50%);
  padding: 0.5rem 1rem;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border-radius: 0.5rem;
  z-index: 1000;
  visibility: hidden;

  @include a.breakpoint(sm) {
    display: none;
  }
}
