.card {
  background: #04376b;
  padding: 5px;
  & img {
    width: 100%;
  }
  &__body {
    padding: 1rem;
  }
  &:hover {
    transform: scale(1.05);
    transition: all 0.5s ease-in-out;
    background: #0a4b8f;
  }
}

.pagination {
  margin-top: 4rem;

  & .page-counter {
    margin-top: 1rem;
  }
}
