.card {
  background: #04376b;
  padding: 5px;
  & img {
    width: 100%;
  }
  &__body {
    padding: 10px;
    font-size: 20px;
  }
  &:hover {
    transform: scale(1.05);
    transition: all 0.5s ease-in-out;
    background: #0a4b8f;
  }
}

.pagination {
  margin-top: 2rem;

  & .page-counter {
    margin-top: 1rem;
  }
}
