@use "../abstracts" as a;

.swiper {
  width: 100%;
  height: 50%;

  &__slide {
    text-align: center;
    font-size: 1.8rem;
    background: var(--color-primary);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__rating {
    padding: 1rem;
  }
}
