@use '../abstracts' as a;

.search {
  padding: 6rem;
  margin: 4rem 0;

  & .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  & h2 {
    margin-bottom: 2rem;
  }

  &__form {
    width: 100%;
    max-width: 60rem;
    min-width: 25rem;

    @include a.breakpoint(xxsm) {
      min-width: 35rem;
    }

    &__radio {
      display: flex;
      align-items: center;
      justify-content: flex-start;

      input[type='radio'] {
        margin: 0 0.7rem;
        width: 2rem;
        height: 2rem;
        cursor: pointer;

        &:checked {
          color: var(--color-secondary);
        }
      }
    }

    &__flex {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 1rem;

      & input[type='text'] {
        flex: 6;
        width: 100%;
        height: 5rem;
        padding: 1rem;
        margin-right: 1rem;
        border: 1px solid #fff;
        border-radius: 5px;
        background: transparent;
        color: #fff;
      }

      & input[type='text']::placeholder {
        color: #fff;
      }

      & input[type='text']:focus {
        outline: none;
      }
    }

    & button {
      flex: 1;
      display: block;
      width: 100%;
      padding: 1rem;
      border-radius: 5px;
      height: 5rem;
      cursor: pointer;
      background: var(--color-secondary);
      color: #000;

      &:hover {
        background: transparent;
        color: #fff;
      }
    }
  }
}
